.title h1 {
    font-size: 48px;
    font-weight: 700;
    color: #4285f4;
    background-image: linear-gradient(to right, #4285f4, #ea4335, #fbbc05, #34a853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Fallback. */
    background-color: #fff;
}

.session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.url-label label {
    color: #6c757d;
}

.url input {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 8px;
    width: 300px;
    font-size: 16px;
    color: #5f6368;
    outline: none;
}

.load button {
    background-color: #4285f4;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}